In [1]:
import pandas as pd

In [2]:
df_v = pd.read_csv("country_vaccinations.csv")
df_v_C= df_v[(df_v['country'] == 'China')].iloc[:, :6]
df_v_US = df_v.drop(df_v_C.index, axis =0).fillna(0)
#df_v_US = df_v_US.drop(columns=['iso_code','total_vaccinations','people_vaccinated']).fillna(0)
df_v_US = df_v_US[["country","date","people_fully_vaccinated"]]
df_v_US.rename(columns= {'country':'Country/Region','date':'ObservationDate','people_fully_vaccinated':'People_Fully_Vaccinated'},inplace=True)
df_v_US['ObservationDate'] = pd.to_datetime(df_v_US['ObservationDate'],dayfirst=True,format='%Y-%m-%d')
df_v_US = df_v_US.groupby(['ObservationDate']).sum().reset_index()
df_v_US.sort_values('ObservationDate')

   ObservationDate  People_Fully_Vaccinated
0       2020-12-13                      0.0
1       2020-12-14                      0.0
2       2020-12-15                      0.0
3       2020-12-16                      0.0
4       2020-12-17                      0.0
..             ...                      ...
93      2021-03-16               79035899.0
94      2021-03-17               90713305.0
95      2021-03-18               88548724.0
96      2021-03-19               90448901.0
97      2021-03-20               81404397.0

[98 rows x 2 columns]

In [5]:
df_v_US['Dates'] = df_v_US.index
df_v_US=df_v_US.drop(columns=['ObservationDate'])
df_v_US

    People_Fully_Vaccinated  Dates
0                       0.0      0
1                       0.0      1
2                       0.0      2
3                       0.0      3
4                       0.0      4
..                      ...    ...
93               79035899.0     93
94               90713305.0     94
95               88548724.0     95
96               90448901.0     96
97               81404397.0     97

[98 rows x 2 columns]

In [6]:
cols = df_v_US.columns.tolist()
cols = cols[-1:] + cols[:-1]
df_v_US = df_v_US[cols]
df_v_US

    Dates  People_Fully_Vaccinated
0       0                      0.0
1       1                      0.0
2       2                      0.0
3       3                      0.0
4       4                      0.0
..    ...                      ...
93     93               79035899.0
94     94               90713305.0
95     95               88548724.0
96     96               90448901.0
97     97               81404397.0

[98 rows x 2 columns]

In [7]:
df_v_US.to_csv("Vaccination_US.csv")

In [8]:
df =  pd.read_csv('Vaccination_US.csv')
df=df.drop(columns=['Unnamed: 0'])
df.columns

Index(['Dates', 'People_Fully_Vaccinated'], dtype='object')