In [1]:
import pandas as pd

In [2]:
df_c = pd.read_csv('../Data/covid_us_ext.csv')
df_c_US = df_c[(df_c['Country/Region'] == 'US')]
df_c_US['ObservationDate'] = pd.to_datetime(df_c_US['ObservationDate'],dayfirst=True,format='%m/%d/%Y')
df_c_US.sort_values('ObservationDate')

<ipython-input-2-2a089eb5d0b4>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_US['ObservationDate'] = pd.to_datetime(df_c_US['ObservationDate'],dayfirst=True,format='%m/%d/%Y')

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
31,32,2020-01-22,Washington,US,1/22/2020 17:00,1.0,0.0,0.0
70,71,2020-01-23,Washington,US,1/23/20 17:00,1.0,0.0,0.0
119,120,2020-01-24,Washington,US,1/24/20 17:00,1.0,0.0,0.0
120,121,2020-01-24,Chicago,US,1/24/20 17:00,1.0,0.0,0.0
161,162,2020-01-25,Washington,US,1/25/20 17:00,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...
285013,285014,2021-05-02,Maryland,US,2021-05-03 04:20:39,448989.0,8776.0,0.0
285014,285015,2021-05-02,Massachusetts,US,2021-05-03 04:20:39,691172.0,17621.0,0.0
285025,285026,2021-05-02,Michigan,US,2021-05-03 04:20:39,940175.0,18893.0,0.0
284878,284879,2021-05-02,Grand Princess,US,2021-05-03 04:20:39,103.0,3.0,0.0
285289,285290,2021-05-02,Wyoming,US,2021-05-03 04:20:39,58142.0,707.0,0.0

In [3]:
df_c_US = df_c_US.groupby(['ObservationDate']).sum().reset_index()#.sort_values('ObservationDate')
df_c_US = df_c_US.drop(columns=['SNo','Deaths','Recovered'])

df_c_US

    ObservationDate   Confirmed
0        2020-01-22         1.0
1        2020-01-23         1.0
2        2020-01-24         2.0
3        2020-01-25         2.0
4        2020-01-26         5.0
..              ...         ...
462      2021-04-28  32230850.0
463      2021-04-29  32289049.0
464      2021-04-30  32346971.0
465      2021-05-01  32392274.0
466      2021-05-02  32421534.0

[467 rows x 2 columns]

In [4]:
df_c_US.to_csv("../Data/Confirmed_Cases_US.csv")

In [5]:
df =  pd.read_csv('../Data/Confirmed_Cases_US.csv')
df=df.drop(columns=['Unnamed: 0'])
df.columns

Index(['ObservationDate', 'Confirmed'], dtype='object')

In [7]:
df_c = pd.read_csv('../Data/covid_us_ext.csv')
df_c_I = df_c[(df_c['Country/Region'] == 'India')]
df_c_I['ObservationDate'] = pd.to_datetime(df_c_I['ObservationDate'],dayfirst=True,format='%m/%d/%Y')
df_c_I.sort_values('ObservationDate')

<ipython-input-7-27d1499d29d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c_I['ObservationDate'] = pd.to_datetime(df_c_I['ObservationDate'],dayfirst=True,format='%m/%d/%Y')

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
438,439,2020-01-30,NaN,India,1/30/20 16:00,1.0,0.0,0.0
500,501,2020-01-31,NaN,India,1/31/2020 23:59,1.0,0.0,0.0
557,558,2020-02-01,NaN,India,1/31/2020 8:15,1.0,0.0,0.0
618,619,2020-02-02,NaN,India,2020-02-02T06:03:08,2.0,0.0,0.0
684,685,2020-02-03,NaN,India,2020-02-03T21:43:02,3.0,0.0,0.0
...,...,...,...,...,...,...,...,...
284929,284930,2021-05-02,Jammu and Kashmir,India,2021-05-03 04:20:39,179915.0,2330.0,147242.0
284932,284933,2021-05-02,Jharkhand,India,2021-05-03 04:20:39,239734.0,2829.0,178468.0
284950,284951,2021-05-02,Karnataka,India,2021-05-03 04:20:39,1564132.0,15794.0,1143250.0
284834,284835,2021-05-02,Dadra and Nagar Haveli and Daman and Diu,India,2021-05-03 04:20:39,7712.0,4.0,5841.0
285284,285285,2021-05-02,West Bengal,India,2021-05-03 04:20:39,845878.0,11447.0,717772.0

In [8]:
df_c_I = df_c_I.groupby(['ObservationDate']).sum().reset_index()#.sort_values('ObservationDate')
df_c_I = df_c_I.drop(columns=['SNo','Deaths','Recovered'])

df_c_I

    ObservationDate   Confirmed
0        2020-01-30         1.0
1        2020-01-31         1.0
2        2020-02-01         1.0
3        2020-02-02         2.0
4        2020-02-03         3.0
..              ...         ...
454      2021-04-28  18376421.0
455      2021-04-29  18762976.0
456      2021-04-30  19164969.0
457      2021-05-01  19557457.0
458      2021-05-02  19557457.0

[459 rows x 2 columns]

In [9]:
df_c_I.to_csv("../Data/Confirmed_Cases_India.csv")

In [10]:
df =  pd.read_csv('../Data/Confirmed_Cases_India.csv')
df=df.drop(columns=['Unnamed: 0'])
df.columns

Index(['ObservationDate', 'Confirmed'], dtype='object')