In [1]:
import pandas as pd

In [2]:
df_c = pd.read_csv('covid_19_data.csv')
df_c_C= df_c[(df_c['Country/Region'] == 'Mainland China')].iloc[:, :6]
df_c_US = df_c.drop(df_c_C.index, axis =0)
#df_c_US = df_c[(df_c['Country/Region'] == 'US')]
df_c_US['ObservationDate'] = pd.to_datetime(df_c_US['ObservationDate'],dayfirst=True,format='%m/%d/%Y')
df_c_US.sort_values('ObservationDate')

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
12,13,2020-01-22,Hong Kong,Hong Kong,1/22/2020 17:00,0.0,0.0,0.0
20,21,2020-01-22,Macau,Macau,1/22/2020 17:00,1.0,0.0,0.0
28,29,2020-01-22,Taiwan,Taiwan,1/22/2020 17:00,1.0,0.0,0.0
31,32,2020-01-22,Washington,US,1/22/2020 17:00,1.0,0.0,0.0
35,36,2020-01-22,NaN,Japan,1/22/2020 17:00,2.0,0.0,0.0
...,...,...,...,...,...,...,...,...
235500,235501,2021-02-27,Caldas,Colombia,2021-02-28 05:22:20,46480.0,973.0,44501.0
235501,235502,2021-02-27,California,US,2021-02-28 05:22:20,3563578.0,51953.0,0.0
235502,235503,2021-02-27,Callao,Peru,2021-02-28 05:22:20,57532.0,2439.0,0.0
235504,235505,2021-02-27,Campeche,Mexico,2021-02-28 05:22:20,8474.0,1059.0,0.0
236016,236017,2021-02-27,Zuid-Holland,Netherlands,2021-02-28 05:22:20,255335.0,3732.0,0.0

In [3]:
df_c_US = df_c_US.groupby(['ObservationDate']).sum().reset_index()#.sort_values('ObservationDate')
df_c_US = df_c_US.drop(columns=['SNo','Deaths','Recovered'])
df_c_US

    ObservationDate    Confirmed
0        2020-01-22         10.0
1        2020-01-23         15.0
2        2020-01-24         25.0
3        2020-01-25         38.0
4        2020-01-26         56.0
..              ...          ...
398      2021-02-23  112019890.0
399      2021-02-24  112464430.0
400      2021-02-25  112911535.0
401      2021-02-26  113325717.0
402      2021-02-27  113694842.0

[403 rows x 2 columns]