In [1]:
import pandas as pd

df_c_US = pd.read_csv('../Data/Confirmed_Cases_US.csv').drop(columns=['Unnamed: 0'])
df_c_US

    ObservationDate   Confirmed
0        2020-01-22         1.0
1        2020-01-23         1.0
2        2020-01-24         2.0
3        2020-01-25         2.0
4        2020-01-26         5.0
..              ...         ...
462      2021-04-28  32230850.0
463      2021-04-29  32289049.0
464      2021-04-30  32346971.0
465      2021-05-01  32392274.0
466      2021-05-02  32421534.0

[467 rows x 2 columns]

In [2]:
df_v_US = pd.read_csv('../Data/Vaccination_US.csv').drop(columns=['Unnamed: 0'])
df_v_US.loc[df_v_US['ObservationDate']=='2021-02-15','People_Fully_Vaccinated'] = 14077440
df_v_US

    ObservationDate  People_Fully_Vaccinated
0        2020-12-20                      0.0
1        2020-12-21                      0.0
2        2020-12-22                      0.0
3        2020-12-23                      0.0
4        2020-12-24                      0.0
..              ...                      ...
134      2021-05-03              214533524.0
135      2021-05-04              215826677.0
136      2021-05-05              218205509.0
137      2021-05-06              221403752.0
138      2021-05-07              225311936.0

[139 rows x 2 columns]

In [3]:
df_US = pd.merge(df_c_US, df_v_US, on='ObservationDate', how='outer')
df_US

    ObservationDate  Confirmed  People_Fully_Vaccinated
0        2020-01-22        1.0                      NaN
1        2020-01-23        1.0                      NaN
2        2020-01-24        2.0                      NaN
3        2020-01-25        2.0                      NaN
4        2020-01-26        5.0                      NaN
..              ...        ...                      ...
467      2021-05-03        NaN              214533524.0
468      2021-05-04        NaN              215826677.0
469      2021-05-05        NaN              218205509.0
470      2021-05-06        NaN              221403752.0
471      2021-05-07        NaN              225311936.0

[472 rows x 3 columns]

In [4]:
#2021-0502
df_US=df_US.loc[(df_US['ObservationDate']>= '2020-12-20') & (df_US['ObservationDate'] <= '2021-05-02')]
df_US

    ObservationDate   Confirmed  People_Fully_Vaccinated
333      2020-12-20  17954675.0                      0.0
334      2020-12-21  18153724.0                      0.0
335      2020-12-22  18351735.0                      0.0
336      2020-12-23  18581353.0                      0.0
337      2020-12-24  18775557.0                      0.0
..              ...         ...                      ...
462      2021-04-28  32230850.0              199426393.0
463      2021-04-29  32289049.0              202713598.0
464      2021-04-30  32346971.0              206220484.0
465      2021-05-01  32392274.0              210278776.0
466      2021-05-02  32421534.0              213016060.0

[134 rows x 3 columns]

In [5]:
df_US.to_csv("../Data/Confirmed_VS_Vaccinated_US.csv")