In [1]:
import pandas as pd
df_v = pd.read_csv("../Data/vaccination_us_ext.csv")
df_v

,date,location,total_vaccinations,total_distributed,people_vaccinated,people_fully_vaccinated_per_hundred,total_vaccinations_per_hundred,people_fully_vaccinated,people_vaccinated_per_hundred,distributed_per_hundred,daily_vaccinations_raw,daily_vaccinations,daily_vaccinations_per_million,share_doses_used
0,2021-01-12,Alabama,78134.0,377025.0,70861.0,0.15,1.59,7270.0,1.45,7.69,NaN,NaN,NaN,0.207
1,2021-01-13,Alabama,84040.0,378975.0,74792.0,0.19,1.71,9245.0,1.53,7.73,5906.0,5906.0,1205.0,0.222
2,2021-01-14,Alabama,92300.0,435350.0,80480.0,NaN,1.88,NaN,1.64,8.88,8260.0,7083.0,1445.0,0.212
3,2021-01-15,Alabama,100567.0,444650.0,86956.0,0.28,2.05,13488.0,1.77,9.07,8267.0,7478.0,1525.0,0.226
4,2021-01-16,Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7557.0,7498.0,1529.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7558,2021-05-03,Wyoming,358545.0,483195.0,197374.0,28.05,61.95,162356.0,34.10,83.49,33.0,1409.0,2435.0,0.742
7559,2021-05-04,Wyoming,361199.0,483595.0,198293.0,28.34,62.41,163997.0,34.26,83.56,2654.0,1786.0,3086.0,0.747
7560,2021-05-05,Wyoming,363149.0,485195.0,198821.0,28.57,62.75,165330.0,34.35,83.83,1950.0,2038.0,3521.0,0.748
7561,2021-05-06,Wyoming,363390.0,486635.0,198930.0,28.61,62.79,165555.0,34.37,84.08,241.0,1427.0,2466.0,0.747
7562,2021-05-07,Wyoming,367548.0,487055.0,200309.0,29.09,63.51,168356.0,34.61,84.16,4158.0,1642.0,2837.0,0.755

In [2]:
df_v_US = df_v[['date','location','people_fully_vaccinated']].copy()
df_v_US

            date location  people_fully_vaccinated
0     2021-01-12  Alabama                   7270.0
1     2021-01-13  Alabama                   9245.0
2     2021-01-14  Alabama                      NaN
3     2021-01-15  Alabama                  13488.0
4     2021-01-16  Alabama                      NaN
...          ...      ...                      ...
7558  2021-05-03  Wyoming                 162356.0
7559  2021-05-04  Wyoming                 163997.0
7560  2021-05-05  Wyoming                 165330.0
7561  2021-05-06  Wyoming                 165555.0
7562  2021-05-07  Wyoming                 168356.0

[7563 rows x 3 columns]

In [3]:

df_v_US = df_v_US.fillna(0)
df_v_US['date'] = pd.to_datetime(df_v_US['date'],dayfirst=True,format='%Y-%m-%d')
df_v_US = df_v_US.groupby(['date']).sum().reset_index()
df_v_US.columns  =['ObservationDate','People_Fully_Vaccinated']
df_v_US.sort_values('ObservationDate')

    ObservationDate  People_Fully_Vaccinated
0        2020-12-20                      0.0
1        2020-12-21                      0.0
2        2020-12-22                      0.0
3        2020-12-23                      0.0
4        2020-12-24                      0.0
..              ...                      ...
134      2021-05-03              214533524.0
135      2021-05-04              215826677.0
136      2021-05-05              218205509.0
137      2021-05-06              221403752.0
138      2021-05-07              225311936.0

[139 rows x 2 columns]

In [4]:
df_v_US.to_csv("../Data/Vaccination_US.csv")

In [5]:
df =  pd.read_csv('../Data/Vaccination_US.csv')
df=df.drop(columns=['Unnamed: 0'])
df.columns

Index(['ObservationDate', 'People_Fully_Vaccinated'], dtype='object')